<div class="form-section">
	<h5 class="form-seciton-name">Shipping Method Info</h5>

	<div class="form-row">
		<div class="form-col form-col-half">
			<%= t.label :name, class: 'form-label' %> <br>
			<%= t.text_field :name, class: 'form-input form-text-input' %>
		</div>

		<div class="form-col form-col-half">
			<%= t.label :cost, class: 'form-label' %> <br>
			<%= t.text_field :cost, class: 'form-input form-text-input' %>
		</div>
		<div class="clear-left"></div>
	</div>
</div>