<% content_for :header_options do %>
	<%= link_to 'Back to Users', admin_users_path, class: 'btn btn-default btn-primary' %>

<% end %>

<h3 class="page-title">New Administrator</h3>

<%= form_for @user do |t| %>
	<%= render partial: 'form', locals: {t: t} %>
	<%= submit_tag 'Create User', class: 'btn btn-default form-submit-button' %>
<% end %>